@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles below */
html {
  scroll-behavior: smooth;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-parallax {
  background-image: url('../images/hero1.jpg');
}

#contact {
  background-image: url('../images/contact.jpg');
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
